$secondaryColor: #3a3939;
$primaryColor: #0090dd;
$backgroundColor: #f0f0f0;
// *{
//     border: 1px solid red;
// }
body{
    transition: all .3s ease-in-out;

    a{
        text-decoration: none;
        color: inherit;
        &:hover{
            color: $primaryColor;
        }
    }
}
.main {
    background-color: $backgroundColor;

    .icon{
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .menu{
        transition: all .3s ease-in-out;
        cursor: pointer;
        &:hover{
            color: $primaryColor;
            transform: scale(1.01);
        }
    }

    header {
        overflow: hidden;
        margin: 0;
        background-color: $primaryColor;
        background-color: $secondaryColor;
        color: white;
        height: 100vh;
        width: calc(100vw - 100px);

        .navbar-container {
            width: inherit;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            height: 100px;
            display: flex;
            flex-direction: column;

            .logo {
                padding: .5rem 1rem;
                height: 60px;
                background-color: #313131;

                img {
                    width: 150px;
                    height: 40px;
                }
            }

            .nav-links {
                width: 100%;

                ul {
                    width: 100%;
                    padding: 0;

                    li {
                        padding: 0 1rem;
                        font-size: 16px;
                        height: 60px;
                        text-align: center;
                        align-items: center;
                        display: flex;
                        justify-content: start;
                        list-style-type: none;
                        border-bottom: 1px solid rgb(82, 82, 82);
                        border-top: 1px solid rgb(82, 82, 82);

                        a {
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }
        }




    }

}